html {
  background-color: lightgreen;
}
body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.black-keys {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.black-keys kbd {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 90px;
  height: 260px;
  background-color: black;
  border: 3px solid black;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  padding-bottom: 20px;
  font-size: 20px;
  color: white;
  position: relative;
  top: -45px;
  box-sizing: border-box;
}

.white-keys {
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-keys kbd {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 120px;
  height: 350px;
  background-color: white;
  border: 3px solid black;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  box-sizing: border-box;
}

#w {
  left: -120px;
}
#e {
  left: -90px;
}
#t {
  right: -60px;
}
#y {
  right: -90px;
}
#u {
  right: -120px;
}
